In [1]:
import pandas as pd

In [2]:
apr = './Resources/Apr-2021.csv'
feb = './Resources/Feb-2021.csv'
jan = './Resources/Jan-2021.csv'
may = './Resources/May-2021.csv'

In [3]:
apr_df = pd.read_csv(apr)
apr_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,369,07:46.4,13:55.6,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,43798,Customer,1970,0,Apr-21
1,102,13:25.3,15:07.8,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,28583,Customer,1970,0,Apr-21
2,2036,16:39.7,50:35.9,3276,Marin Light Rail,40.714584,-74.042817,3280,Astor Place,40.719282,-74.071262,46627,Customer,1970,0,Apr-21
3,366,21:44.7,27:51.6,3639,Harborside,40.719252,-74.034234,3205,JC Medical Center,40.716540,-74.049638,43798,Customer,1970,0,Apr-21
4,718,22:28.1,34:26.4,3483,Montgomery St,40.719420,-74.050990,3638,Washington St,40.724294,-74.035483,42277,Subscriber,1958,1,Apr-21

In [4]:
feb_df = pd.read_csv(feb)
feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,266,03:35.5,08:01.8,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1,Feb-21
1,1543,23:32.9,49:16.1,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2,Feb-21
2,1461,23:50.8,48:12.6,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1,Feb-21
3,793,31:09.1,44:22.9,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0,Feb-21
4,596,35:52.2,45:48.8,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0,Feb-21

In [5]:
jan_df = pd.read_csv(jan)
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,146,02:50.1,05:16.2,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,Jan-21
1,572,11:57.4,21:30.3,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,Jan-21
2,387,14:49.4,21:16.9,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,Jan-21
3,188,45:06.4,48:14.4,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,Jan-21
4,594,17:17.0,27:11.9,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,Jan-21

In [6]:
may_df = pd.read_csv(may)
may_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,1900,07:25.5,39:06.1,3225,Baldwin at Montgomery,40.723659,-74.064194,3225,Baldwin at Montgomery,40.723659,-74.064194,45464,Customer,1970,0,May-21
1,236,08:13.9,12:10.1,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,38392,Customer,1970,0,May-21
2,1047,11:01.4,28:28.5,3276,Marin Light Rail,40.714584,-74.042817,3678,Fairmount Ave,40.725726,-74.071959,54268,Customer,1970,0,May-21
3,491,15:09.7,23:20.8,3202,Newport PATH,40.727224,-74.033759,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42307,Customer,1970,0,May-21
4,193,21:05.1,24:18.3,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44452,Customer,1970,0,May-21

In [15]:
combined_df = jan_df.merge(feb_df, how="outer")
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,146,02:50.1,05:16.2,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,Jan-21
1,572,11:57.4,21:30.3,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,Jan-21
2,387,14:49.4,21:16.9,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,Jan-21
3,188,45:06.4,48:14.4,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,Jan-21
4,594,17:17.0,27:11.9,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,Jan-21

In [16]:
combined_df = combined_df.merge(apr_df, how="outer")
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,146,02:50.1,05:16.2,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,Jan-21
1,572,11:57.4,21:30.3,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,Jan-21
2,387,14:49.4,21:16.9,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,Jan-21
3,188,45:06.4,48:14.4,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,Jan-21
4,594,17:17.0,27:11.9,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,Jan-21

In [17]:
combined_df = combined_df.merge(may_df, how="outer")
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,146,02:50.1,05:16.2,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,Jan-21
1,572,11:57.4,21:30.3,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,Jan-21
2,387,14:49.4,21:16.9,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,Jan-21
3,188,45:06.4,48:14.4,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,Jan-21
4,594,17:17.0,27:11.9,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,Jan-21

In [18]:
combined_df = combined_df.dropna()

In [19]:
combined_df.to_csv('./Resources/clean_data.csv')